@model Prism.Models.CorpusWizardCreateModel

@section TitleContent
{
    VVV - @PrismResources.Create_corpus
}

<div class="row">
    <div class="span12">
    <div class="well" style="margin-right: 10px;">
        <div class="span10">
            <h3 class="info-text">Auto segmentation and alignment</h3>
            <p class="category">Preparing your corpus for analysis</p>
        </div>
        <div class="span11">
            @Html.ValidationSummary(true)
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="span11">
                    <div class="editor-field" id="segmentation">
                        @Html.LabelFor(model => model.SegmentationType)
                        @Html.EnumDropDownListFor(model => model.SegmentationType, new { id = "SegmentationType" })
                        @Html.ValidationMessageFor(model => model.SegmentationType)
                        <input type="button" id="btnSegmentation" class="btn-primary fa-building" value="Auto-segmentation" data-loading-text="Processing..." disabled />
                        <img id="imgSegmentationLoading" src="~/Content/img/loader.gif" class="loading is-hidden" alt="Processing..." title="Processing...">
                        <br />
                    </div>

                    <div class="editor-field" id="alignment">
                        @Html.LabelFor(model => model.AlignmentAlgorithm)
                        @Html.EnumDropDownListFor(model => model.AlignmentAlgorithm, new { id = "AlignmentAlgorithm" })
                        @Html.ValidationMessageFor(model => model.AlignmentAlgorithm)
                        <input type="button" id="btnAlignment" class="btn-default fa-align-justify" value="Auto-alignment" data-loading-text="Processing..." disabled />
                        <img id="imgAlignmentLoading" src="~/Content/img/loader.gif" class="loading is-hidden" alt="Processing..." title="Processing...">
                        <br />
                    </div>

                    <span id="msg" style="color: red;"></span>
                    @if (ViewBag.Message != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                alert("@ViewBag.Message");
                            };
                        </script>
                    }
                </div>
        </div>
    </div>
    </div>
</div>

