@model Prism.Models.CorpusWizardCreateModel

@section HeadContent {
    <script src="@Url.Content("~/Scripts/vvv/vvv.jquery.js")" type="text/javascript"></script>
}

@section TitleContent {
    VVV - @PrismResources.Create_corpus
}

<div class="row">
<div class="span12">
    @using (Html.BeginForm("CreateCorpusWizard", "CorpusStore", FormMethod.Post, new { id = "CreateCorpusForm" }))
    {
    <div class="well" style="margin-right: 10px;">
        <div class="span11">
            <h3 class="info-text"> Let's start with corpus basic information</h3>
        </div>
        <div class="span11">
            @Html.ValidationSummary(true)
        </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.CorpusName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CorpusName, new { id = "CorpusName" })
                @Html.ValidationMessageFor(model => model.CorpusName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Description, new { id = "Description" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.LanguageCode)
            </div>

            @if (Model.LanguageCode != null)
            {
                ViewData["langcodes"] = Model.LanguageCode;
            }
            <div class="editor-field">
                @Html.DropDownListFor(model => model.SelectedLanguageCode, (IEnumerable<SelectListItem>)ViewData["langcodes"], new { id = "LanguageCode" })
                @Html.ValidationMessageFor(model => model.LanguageCode)
            </div>
            <input type="button" id="btnCreate" class="btn-primary" value="@PrismResources.Create" />
            <span id="msg" style="color:red;" />
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.Message");
                    };
                </script>
            }
        </div>
    }
    </div>
</div>