﻿@*/*!

    =========================================================
    * Paper Bootstrap Wizard - v1.0.2
    =========================================================

    * Product Page: https://www.creative-tim.com/product/paper-bootstrap-wizard
    * Copyright 2017 Creative Tim (http://www.creative-tim.com)
    * Licensed under MIT (https://github.com/creativetimofficial/paper-bootstrap-wizard/blob/master/LICENSE.md)

    =========================================================

    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    http://vinceg.github.io/twitter-bootstrap-wizard/*
*@

@model Prism.Models.CorpusWizardModel

@section HeadContent{
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.bootstrap.wizard.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/newer/jquery.ui.widget.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-ui.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-process.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-validate.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Prism-CorpusWizard.js")" type="text/javascript"></script>    
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/wizard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/newer/css/jquery.fileupload.css")" rel="stylesheet" type="text/css" />
}

@section TitleContent
{
    VVV - @PrismResources.Corpora
}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="wizard-container">
                
                    <div id="wizard" class="card wizard-card" @*data-color="blue"*@>
                        <div class="wizard-header">
                            <h3 class="wizard-title">Create your corpus easily.</h3>
                            <p class="category">Just with four steps.</p>
                        </div>
                        <div class="wizard-navigation">
                            @*<div class="progress-with-circle">
                                <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
                            </div>*@
                            <ul>
                                <li>
                                    <a href="#tabCreate" data-toggle="tab">
                                        <div class="btn-circle btn-lg">
                                            <i class="fa fa-globe fa-3x"></i>
                                        </div>
                                        <p>Create a corpus</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tabUploadBase" data-toggle="tab">
                                        <div class="btn-circle btn-lg">
                                            <i class="fa fa-file-o fa-3x"></i>
                                        </div>
                                        <p>Upload your base text</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tabUploadVersion" data-toggle="tab">
                                        <div class="btn-circle btn-lg">
                                            <i class="fa fa-files-o fa-3x"></i>
                                        </div>
                                        <p>Upload version(s)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tabAlign" data-toggle="tab">
                                        <div class="btn-circle btn-lg">
                                            <i class="fa fa-gears fa-3x"></i>
                                        </div>
                                        <p>Align your corpus</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--wizard content-->
                        <div class="tab-content">
                            <div class="tab-pane" id="tabCreate">
                                @{ Html.RenderPartial("_CorpusWizardCreate", Model.CorpusCreation); }
                            </div>
                            <div class="tab-pane" id="tabUploadBase">
                                @{ Html.RenderPartial("_CorpusWizardUploadBase", Model.BaseUploadFilesResult); }
                            </div>
                            <div class="tab-pane" id="tabUploadVersion">
                                @{ Html.RenderPartial("_CorpusWizardUploadVersion", Model.VersionUploadFilesResult);}
                            </div>
                            <div class="tab-pane" id="tabAlign">
                                @{ Html.RenderPartial("_CorpusWizardAlign", Model.CorpusCreation); }
                            </div>
                        </div>
                        <!--wizard content-->
                        <!--wizard footer-->
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type="button" class="btn btn-next btn-fill btn-default btn-wd" name='next' value="Next" disabled />
                                <input type="button" class="btn btn-finish btn-fill btn-default btn-wd" id="finish" name="finish" value="Check alignments" />
                                @*@Html.ActionLink("Check alignments", "Alignments", "Visualise", new { CorpusName =  Model.CorpusName }, new { @class = "btn btn-finish btn-fill btn-primary btn-wd", @id= "finish", @disabled="true" })*@
                                
                            </div>
                            @*<div class="pull-left">
                                <input type="button" class="btn btn-previous btn-default btn-wd" name='previous' value='Previous' />
                            </div>*@
                            <div class="clearfix"></div>
                        </div>
                        <!--wizard footer-->
                    </div>
                    <!--wizard-->
            </div>
            <!--wizard-container-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
