@model Prism.Models.NewUserModel

@section TitleContent{
    VVV - @PrismResources.Create_user
    }

<div class="container">
    @using (Html.BeginForm())
        {
    <div class="page-header">
        <h1>
            @PrismResources.Create_user</h1>
        <p>
            @Html.ValidationSummary(true)</p>
    </div>
    <div class="row">
        <fieldset>
            <legend>User details</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.CanAdmin)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.CanAdmin)
                @Html.ValidationMessageFor(model => model.CanAdmin)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <p>
                <input type="submit" value="@PrismResources.Create" />
            </p>
        </fieldset>
    </div>
    }
    <div>
        @Html.ActionLink(PrismResources.Back_to_list, "UsersAdmin")
    </div>
</div>
