@model Prism.Models.CorpusModel

@section TitleContent {
@Model.CorpusName - @PrismResources.Admin_ie_administration
    }

<div class="container">
	<div class="page-header">

		<h1>@Model.CorpusName - @PrismResources.Admin_ie_administration</h1>
	</div>

    <div class="row">
    <fieldset>
    <legend>@PrismResources.Seg_attributes</legend>
@Html.ActionLink(PrismResources.Setup_predef_seg_attr, "PredefinedSegmentAttributes", "Corpus", new { CorpusName = Model.CorpusName, NameIfVersion = string.Empty }, new { @class = "btn btn-mini" })
    </fieldset>
    </div>
    <div class="row">
    <fieldset>
    <legend>Tokenisation</legend>
        <input type="button" id="retok" value="Re-tokenise" />
    </fieldset>
    </div>
    <div class="row">
    <fieldset>
        <legend>@PrismResources.Export_corpus</legend>

        @PrismResources.Export_corpus_seln_note

        @Html.ActionLink(PrismResources.Export, "ExportCorpus", "Corpus", new { CorpusName = Model.CorpusName }, new { @class = "btn btn-mini" })<br />

        @Html.ActionLink("Export (plain)", "ExportCorpusPlain", "Corpus", new { CorpusName = Model.CorpusName }, new { @class = "btn btn-mini" })

    </fieldset>
    </div>
    <div class="row">
    @using (Html.BeginForm("Import", "Corpus", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
    @Html.HiddenFor(model => model.CorpusName, new { id = "uploadcorpusname" })
    <fieldset>
        <legend>@PrismResources.Import_corpus</legend>
    @Html.ValidationSummary(true)
        <label for="file">
            @PrismResources.Filename</label>
        <input type="file" name="file" id="file" />
        <p>
            <input type="submit" value="@PrismResources.Import" />
        </p>
    </fieldset>
    }

    </div>
</div>
@Html.HiddenFor(x => x.CorpusName, new { id = "corpusname" })

@section HeadContent{
<script src="@Url.Content("~/Scripts/Prism-Utils.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Prism-CorpusAdmin.js")" type="text/javascript"></script>
    }
