
@model Prism.Models.BaseDocumentModel

@section TitleContent {
@ViewData["title"]
}
<div class="container">
    <div class="page-header">
        <h2>
            @Model.OriginalCorpusName:
            @ViewData["subtitle"]</h2>
    </div>
    <div class="row">
        <div class="span12">
            @using (Html.BeginForm())
                {
            @Html.ValidationSummary(false)
            @Html.HiddenFor(x => x.OriginalNameIfVersion)
            @Html.HiddenFor(x => x.OriginalCorpusName)
            @Html.HiddenFor(x => x.IsVersion)
            <fieldset>
                <div class="well">
                    <legend>@PrismResources.Details</legend>
                    @if (Model.IsVersion)
                        {
                    <div class="control-group">
                        <label class="control-label" for="segment-attr-name">
                            @Html.LabelFor(model=>model.NameIfVersion)
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.NameIfVersion, new  { id="segment-attr-name" })
                            @Html.ValidationMessageFor(model => model.NameIfVersion)
                        </div>
                    </div>
                    } else {
                    <div class="control-group">
                        <label class="control-label" for="segment-attr-name">
                            @Html.LabelFor(model => model.CorpusName)
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.CorpusName, new  { id="segment-attr-name" })
                            @Html.ValidationMessageFor(model => model.CorpusName)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="segment-attr-name">
                            @Html.LabelFor(model => model.CorpusDescription)
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.CorpusDescription, new { id = "segment-attr-name" })
                            @Html.ValidationMessageFor(model => model.CorpusDescription)
                        </div>
                    </div>
                    }
                        <div class="control-group">
                        <label class="control-label" for="segment-attr-lang">
                            @Html.LabelFor(model => model.LanguageCode)
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(model => model.LanguageCode, (System.Collections.Generic.IEnumerable<SelectListItem>) ViewData["langcodes"], new  { id="segment-attr-lang" })
                            @Html.ValidationMessageFor(model => model.LanguageCode)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="segment-attr-description">
                            @Html.LabelFor(model => model.Description)
                        </label>
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Description, 5, 90, new  { id="segment-attr-description" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="segment-attr-information">
                            @Html.LabelFor(model => model.Information)
                        </label>
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Information, 5, 90, new  { id="segment-attr-information" })
                            @Html.ValidationMessageFor(model => model.Information)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="segment-attr-author">
                            @Html.LabelFor(model => model.AuthorTranslator)
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.AuthorTranslator, new  { id="segment-attr-author" })
                            @Html.ValidationMessageFor(model => model.AuthorTranslator)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="segment-attr-genre">
                            @Html.LabelFor(model => model.Genre)
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Genre, new  { id="segment-attr-genre" })
                            @Html.ValidationMessageFor(model => model.Genre)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="segment-attr-copy">
                            @Html.LabelFor(model => model.CopyrightInfo)
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.CopyrightInfo, new  { id="segment-attr-copy" })
                            @Html.ValidationMessageFor(model => model.CopyrightInfo)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="segment-attr-date">
                            @Html.LabelFor(model => model.ReferenceDate)
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.ReferenceDate, new  { id="segment-attr-date" })
                            @Html.ValidationMessageFor(model => model.ReferenceDate)
                        </div>
                    </div>
                       
                </div>
            </fieldset>
            <input type="submit" value="@PrismResources.Save" class="btn btn-primary" />
            @Html.ActionLink(PrismResources.Cancel, "Index", new { CorpusName = Model.CorpusName }, new { @class="btn" })
            }
        </div>
    </div>
    <div id="push">
    </div>
</div>
