﻿@model Prism.Models.ResetPasswordModel


@section TitleContent {
    VVV - @PrismResources.Reset_password
    }

<div class="container">
    <div class="page-header">
        <h2>
            @PrismResources.Reset_password
        </h2>
    </div>
    <div class="row">
        <div class="span12">
            @using (Html.BeginForm())
            {
            @Html.ValidationSummary(true) 
            <fieldset>
                <legend></legend>
                <p>
                    @PrismResources.Password_reset_instructions
                </p>
                <br />
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserName) 
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserEmail) 
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.UserEmail) 
                    @Html.ValidationMessageFor(model => model.UserEmail) 
                </div>
                <p>
                    <input type="submit" value="@PrismResources.Reset_pwd_button" />
                </p>
            </fieldset>
            }
            @ViewData["resultmsg"] 
        </div>
    </div>
</div>


