﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @RenderSection("TitleContent", required: false)
    </title>
    
    @*@Styles.Render("~/Content/cssbundle")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryui")

    <link href="@Url.Content("~/Content/css/nanoscroller.css")" rel="stylesheet" type="text/css" />

    @* This is the original bootstrap-based css built for vvv *@
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/css/responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap_customized.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/flag-icon/css/flag-icon.min.css")" rel="stylesheet" type="text/css" />

    @* This is the latest bootstrap css *@
    @*<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />*@

    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/rangy/rangy-core.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/vvv/javascript-debug/ba-debug.min.js")" type="text/javascript"></script>
    @* This is the latest bootstrap.min.js *@
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/vvv/underscore/underscore-min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.simplemodal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.simpleCombo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/vvv/nanoScroller/jquery.nanoscroller.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Prism.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EblaDefs.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/sorttable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/flot/jquery.flot.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/flot/jquery.flot.navigate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/flot/jquery.flot.selection.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/vvv/vvv.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/vvv/main.js")" type="text/javascript"></script>


    <script src="http://use.typekit.com/dzz7kgb.js" type="text/javascript"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    
    @Html.Partial("_Strings")

    @RenderSection("HeadContent", required: false)


    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33080583-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-offset="150">
    <div class="wrapper">
        <div class="navbar navbar-fixed-top">
            
            <div class="navbar-inner">
                <div class="container">
                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="#">VVV</a>
                    <!-- renders bootstrap pulldown -->
                    @Html.Partial("_LogOn")
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="">@Html.ActionLink(PrismResources.Home, "Index", "Home")</li>
                            <li class="">@Html.ActionLink(PrismResources.Project, "Project", "Home")</li>
                            <li class="">@Html.ActionLink(PrismResources.Corpora, "Index", "CorpusStore")</li>
                            @if (PrismHelpers.IsThirdParty)
                            {
                            }
                            else
                            {
                                <li class="">@Html.ActionLink(PrismResources.Credits, "Credits", "Home")</li>
                            }
                            <li class="">
                                @RenderSection("HelpMenuItem", required: false)

                            </li>
                            @if (Request.IsAuthenticated)
                            {
                                <li class=""><a href="@Url.Action("Feedback", "Home")"><i class="icon-comment icon-white"></i> @PrismResources.Give_feedback</a></li>
                            }
                        </ul>
                    </div><!--/.nav-collapse -->
                    <div class="nav-collapse pull-right">
                        <ul class="nav">
                            @if (Prism.Controllers.CorpusController.GetActiveCorpus().Length > 0)
                            {
                                <li class="">@Html.ActionLink(PrismResources.Corpus, "Index", "Corpus", new {CorpusName = Prism.Controllers.CorpusController.GetActiveCorpus()}, new {id = "corpus-menu-button", title = Prism.Controllers.CorpusController.GetCorpusCaption()})</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="container body-content">
            <div id="appAlerts">
                @Html.Partial("_Alerts")
            </div>
            @RenderBody()
        </div>
    </div>

    <!--<footer>
        <div class="container">
        <p><strong>&copy; Translation Arrays </strong> 2012</p>
        </div>
    </footer>-->
    <div style="height:40px"> <!-- workaround until I have time to sort out the footer in IE -->

    </div>

    @if (PrismHelpers.UseFooter)
    {
        <footer class="footer navbar-fixed-bottom">
            <div class="container">
                <!--  This really belongs in web.config or something, since it's more of a per-installation or per-project setting than a
                    per-language setting (but the web.config setting would have to support multiple language as well)-->
                <span class="text-muted">@PrismResources.Footer_Text</span>
            </div>
        </footer>

    }

    <div id="modal">
        <div id="modalCaption">
        </div>
        <img src="@Url.Content("~/Content/close.png")" alt="Close" title="Close" class="modalCrossIcon" />
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "modalForm", enctype = "multipart/form-data" }))
        {
            <div id="modalContent">
            </div>
            <div id="modalFooter">
                <input id="modalOk" type="submit" />
                <input id="modalCancel" type="button" />
            </div>
        }
    </div>
    <input id="siteUrl" type="hidden" value="@Url.Content("~")" />
</body>






















@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@



@RenderSection("scripts", required: false)

</html>
