@model Prism.Models.SegmentVersionsTableModel


@section HeadContent
{
    <script src="@Url.Content("~/Scripts/vvv/d3/d3.v2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/vvv/chroma/chroma.js")" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jqGrid.js"></script>

    <script src="@Url.Content("~/Scripts/Prism-Utils.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Prism-SegmentVersionsTable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Prism-FindSegmentDialog.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>*@

    <link href="~/Content/jquery.jqGrid/ui.jqgrid-bootstrap.css" media="screen" type="text/css" rel="stylesheet" />

    @*<link href="@Url.Content("~/Content/css/ui-lightness/jquery-ui-1.10.3.custom.min.css")"
        rel="stylesheet" type="text/css" />*@
    <style type="text/css">
        /*.celltop 
        {
            position:absolute;
            top: 0px;
        }*/
        .cellbottom
        {
            position: absolute;
            bottom: 0px;
        }
        
        /* make jqgrid do word wrap on cells with long text */
        .ui-jqgrid tr.jqgrow td
        {
            word-wrap: break-word; /* IE 5.5+ and CSS3 */
            white-space: pre-wrap; /* CSS3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            overflow: hidden;
            height: auto;
            vertical-align: top;
            padding-top: 3px;
            padding-bottom: 3px;
            position: relative;
        }
        
        /* make jqgrid do word wrap on headers with long text */
        th.ui-th-column div
        {
            white-space: normal !important;
            height: auto !important;
            padding: 2px;
        }
        
        .svdchart
        {
            width: 70px;
            height: 60px;
        }
        
        #modalContent input[type=text].segmentsearchfloat
        {
            width: 40px;
        }
    </style>
}
    <div style="height: 70px">
    </div>
    <div>
        @Html.HiddenFor(model => model.CorpusName, new { id = "corpusname" })
        <a href="@Url.Content("~/Home/Project#eddyviv")" class="tt" title="@PrismResources.Eddy_viv_desc_html"
            rel="tooltip" data-placement="right">@PrismResources.Variation_metric<i class="icon-question-sign"></i></a>
        <select id="variation-type-select">
            <!-- to be filled by JS -->
        </select>
        @PrismResources.Attribute:
        <select id="attribname">
            @foreach (var a in Model.AttribNames.Keys)
               {
            <option value="@Model.AttribNames[a]">
                @a</option>
            }
        </select>
        <input type="checkbox" id="showsvd" />@PrismResources.Show_svd_charts
        <br />
        <input type="button" value="@PrismResources.Add" id="addrows" title="@PrismResources.Table_search_add" />
        <input type="button" value="@PrismResources.Remove" id="deleterows" title="@PrismResources.Table_remove" />


        <div style="float: right;">
            @using (Html.BeginForm("ExportVersionsTable", "Visualise"))
               {
            <input type="hidden" name="CorpusName" id="submitcorpusname" />
            <input type="hidden" name="AttribName" id="submitattribname" />
            <input type="hidden" name="metricTypeVal" id="submitmetrictypeval" />
            <input type="submit" value="Export" />
            }
        </div>
        <input type="checkbox" checked="checked" id="sizetowindow" />@PrismResources.Fit_grid_to_window
    </div>
    <table id="list2">
    </table>
    <div id="pager2">
    </div>

