@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}



@model Prism.Models.UploadFilesResult

@section TitleContent
{
    VVV - @PrismResources.Wizard
    }

@section HeadContent
{
    
    }

    <!-- CSS -->
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Roboto:400,100,300,500")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/newer/css/bootstrap-3-3.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/newer/css/bootstrap-3-3.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/newer/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/newer/css/form-elements.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/newer/css/stylewizard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/newer/css/jquery.fileupload.css")" rel="stylesheet" type="text/css" />
    <!-- Javascript -->
    <script type="text/javascript">
        var $$ = jQuery;
    </script>
    <script src="@Url.Content("~/Scripts/newer/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newer/bootstrap-3-3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newer/jquery.backstretch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newer/retina-1.1.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newer/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newer/scripts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newer/jquery.ui.widget.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newer/jquery.fileupload.js")" type="text/javascript"></script>
    
    <script type="text/javascript">
        
        jQuery.noConflict();

        //$$(document).ready(function () {
        //    $$('#fileupload').fileupload({
        //        dataType: 'json',
        //        url: '/Document/UploadFiles',
        //        autoUpload: true,
        //        done: function (e, data) {
        //            $$('.file_name').html(data.result.name);
        //            $$('.file_type').html(data.result.type);
        //            $$('.file_size').html(data.result.size);
        //        }
        //    }).on('fileuploadprogressall', function (e, data) {
        //        var progress = parseInt(data.loaded / data.total * 100, 10);
        //        $$('.progress .progress-bar').css('width', progress + '%');
        //    });
        //});
    </script>
}

        <!-- Top content -->
        <div class="top-content">
            <div class="container">
                
               
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    	<form role="form" action="" method="post" class="f1">

                    		<h3>VVV Alignments</h3>
                    		<p>Follow the steps to add your files</p>
                    		<div class="f1-steps">
                    			<div class="f1-progress">
                    			    <div class="f1-progress-line" data-now-value="12.5" data-number-of-steps="4" style="width: 12.5%;"></div>
                    			</div>
                    			<div class="f1-step active">
                    				<div class="f1-step-icon"><i class="fa fa-user"></i></div>
                    				<p>base text</p>
                    			</div>
                    			<div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-key"></i></div>
                    				<p>segment</p>
                    			</div>
                    			<div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-question"></i></div>
                    				<p>version(s)</p>
                    			</div>
                    		    <div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    				<p>segment</p>
                    			</div>
                    		</div>
                    		
                    		<fieldset>
                    		    <h4>Tell us who you are:</h4>
                    			<div class="form-group">
                    			    <label class="sr-only" for="f1-first-name">First name</label>
                                    <input type="text" name="f1-first-name" placeholder="First name..." class="f1-first-name form-control" id="f1-first-name">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-last-name">Last name</label>
                                    <input type="text" name="f1-last-name" placeholder="Last name..." class="f1-last-name form-control" id="f1-last-name">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-about-yourself">About yourself</label>
                                    <textarea name="f1-about-yourself" placeholder="About yourself..." 
                                    	                 class="f1-about-yourself form-control" id="f1-about-yourself"></textarea>
                                </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>Set up your account:</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-email">Email</label>
                                    <input type="text" name="f1-email" placeholder="Email..." class="f1-email form-control" id="f1-email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-password">Password</label>
                                    <input type="password" name="f1-password" placeholder="Password..." class="f1-password form-control" id="f1-password">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                                    <input type="password" name="f1-repeat-password" placeholder="Repeat password..." 
                                                           class="f1-repeat-password form-control" id="f1-repeat-password">
                                </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>
                            
                            <fieldset>
                                <h4>Security question:</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-question">Question</label>
                                    <input type="text" name="f1-question" placeholder="Question..." class="f1-question form-control" id="f1-question">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-answer">Answer</label>
                                    <input type="text" name="f1-answer" placeholder="Answer..." class="f1-answer form-control" id="f1-answer">
                                </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>Social media profiles:</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-facebook">Facebook</label>
                                    <input type="text" name="f1-facebook" placeholder="Facebook..." class="f1-facebook form-control" id="f1-facebook">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-twitter">Twitter</label>
                                    <input type="text" name="f1-twitter" placeholder="Twitter..." class="f1-twitter form-control" id="f1-twitter">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-google-plus">Google plus</label>
                                    <input type="text" name="f1-google-plus" placeholder="Google plus..." class="f1-google-plus form-control" id="f1-google-plus">
                                </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="submit" class="btn btn-submit">Submit</button>
                                </div>
                            </fieldset>
                    	
                    	</form>
                    </div>
                </div>
                    
            </div>
        </div>
